.vscode/
.settings/
*.code-workspace
.project
.cproject
/Debug/
/Default/
__pycache__/
build/
Debug Py2.7/
*.so
*.pyc
dist/
MANIFEST
.idea/
*.egg-info/
.ipynb_checkpoints/
.tox/
.coverage
.coverage/
.mypy_cache/
