exclude: '^docs/'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  -   id: trailing-whitespace
  -   id: end-of-file-fixer
  -   id: mixed-line-ending
  -   id: pretty-format-json
- repo: https://github.com/ambv/black
  rev: 22.6.0
  hooks:
  - id: black
- repo: https://gitlab.com/pycqa/flake8
  rev: 4.0.1
  hooks:
  - id: flake8
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.961
  hooks:
  -   id: mypy
- repo: https://github.com/codespell-project/codespell
  rev: 'v2.1.0'
  hooks:
  -   id: codespell
      name: codespell
      description: Checks for common misspellings in text files.
      entry: codespell
      language: python
      types: [text]
      exclude: '\.ipynb'
      args: [-I, .codespellignore]
- repo: local
  hooks:
  -   id: tests
      name: Run pytest unit tests
      entry: pytest -v
      language: system
      types: [python]
      pass_filenames: false
      always_run: true
